<div class="ui center aligned text container">
    <h1 class="ui huge header">Contact page</h1>
    <p class="lead">
      Cotnatc
    </p>
    <p class="lead">
      All you get is this text and a mostly barebones HTML document.
    </p>

  </div>

  