<div class="ui center aligned text container">
    <h1 class="ui huge header">Contact page</h1>
   
    <div class="ui center card">
      <div class="image">
        <img src="/image/cool.png">
      </div>
      <div class="content">
        <a class="header">Marvellous</a>
        <div class="meta">
          <span class="date">backendlifetech@gmail.com</span>
        </div>
        <div class="description">
          Marvellous is currently a student in Nigeria
        </div>
      </div>
    
    </div>


  </div>

  


  