    <div class="ui center aligned text container">
      <h1 class="ui huge header">Welcome to Url Shortener</h1>
      <p class="lead">
        We make your url shorter and more concise 
      </p>
     

      <div class="ui success message">
        <i class="close icon"></i>
        <div class="header">
          URL  SHORTENED
        </div>
        <p>You may now log-in with the username you have chosen</p>
      </div>
<!-- The text field -->
<input type="text" value="Copy me!" id="myInput">

<!-- The button used to copy the text -->
<button id="copystuff">Copy url</button>


    <form class="ui  form" method="POST" action="/">
      
        <div class="required field">
          <label>Url</label>
          <input type="url" name="long" placeholder="https://www.google.com/"  required>
        </div>

        <div class="required field">
          <div class="ui bottom pointing red basic label">
            That name is taken!
          </div>
          <label>Shorten To:</label>
          <input id="sh" type="text" name="short" placeholder="find" required>
       </div>

       <div class="field error">
        <label>E-mail</label>
        <input type="email" name="email" placeholder="joe@gmail.com">
      </div>

      
        <button class="ui button">
          Shorten
        </button>
        

    </form>