    <div class="ui center aligned text container">
      <h1 class="ui huge header">Welcome to Url Shortener</h1>
      <p class="lead">
        We make your url shorter and more concise 
      </p>
     
 


    <form class="ui  form" method="POST" action="/">
      
        <div class="required field">
          <label>Url</label>
          <input type="url" name="long" placeholder="https://www.google.com/"  required>
        </div>

        <div class="required field">
      
          <label>Shorten To:</label>
          <p id="usernameResponseHidden" hidden></p>
          <p id="usernameResponse"></p>
          <input id="usercheck" type="text" name="short" placeholder="find" required>
       </div>

       <div class="field">
        <label>E-mail</label>
        <input type="email" name="email" placeholder="joe@gmail.com">
      </div>

      
        <button class="ui button" >
          Shorten
        </button>
        

    </form>