    <div class="ui center aligned text container">
      <h1 class="ui huge header">Welcome to Url Shortener</h1>
      <p class="lead">
        We make your url shorter and more concise 
      </p>
      <p class="lead">
        All you get is this text and a mostly barebones HTML document.
      </p>
    </div>